{# src/Maud/SportBundle/Resources/views/Save/index.html.twig #}


{% extends "MaudSportBundle::layout.html.twig" %}


{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block maudsport_body %}


  <h2>Liste des cours réservés</h2>


  <ul>

    {% for save in listSaves %}

      <li>

          {{ save.cours }}


        à {{ save.club }},


      </li>

    {% else %}

      <li>Pas (encore !) de cours réservés </li>

    {% endfor %}

  </ul>


{% endblock %}