{# src/Maud/SportBundle/Resources/views/Save/reserver.html.twig #}


{% extends "MaudSportBundle::layout.html.twig" %}


{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block maudsport_body %}


  <h2>Cours de  </h2>



{% endblock %}